@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cute+Font&family=Gochi+Hand&family=Roboto:ital,wght@0,100..900;1,100..900&family=Amatic+SC:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    border: 3px solid black;
    margin: 10px;
    font-family: Arial,serif ,sans-serif;
}
.hero-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.box{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 20%;
    background-color: black;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 1.8em;
    font-weight: 600;
    margin: 25px;
    gap: 10px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 5px;
    font-family: 'Roboto', cursive;
    font-size:0.90rem ;
    font-weight: 500;
}
span{
    margin: 0 5px 0 2px;
}
.base{
    margin: 15px;
}
.base h2{
    font-family: Gochi Hand;
    font-size: 1.50rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.base p{
    font-family: Roboto;
    font-size: 0.90rem;
    color: rgb(195, 195, 195);
}
.line{
    height: 1.5px;
    width: 100%;
    background-color: black;
}
.rotate{
    transform: rotate(-0.3deg);
}
.paras{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    background-color:  rgb(241, 239, 239);
}
 h3{
    font-family: Amatic SC;
    font-size: 2.5rem;
    font-weight: 800;
    height: 2.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
}
.top{
     display: flex;
    flex-direction: column;
}
.work-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:  rgb(241, 239, 239);   
    padding:20px
}
.work-main a{
    color: rgb(1, 102, 170);;
}
.education{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding:20px;
}
.education>h3{
    margin-top: 0;
}
.education p{
    font-family: Roboto;
    font-size: 0.90rem;
    font-weight: 500;
}
li{
    font-family: Roboto;
    font-size: 0.90rem;
    font-weight: 500;
}
.education li{
    margin-left: 12px;
    list-style: none;
}
.education li::marker {
  content: "- ";
}
.border1 ,.border2{
    display: none;
}
.box-review{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.border{
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin-top: 40px;
}
.review > h3{
    text-align: start;
    margin-left: 40px;
}
.up{
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
}
.down{
    font-family: Roboto;
    font-size: 0.80rem;
    color: rgb(207, 207, 207);
}
footer{
    height: 5vh;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5rem;
    font-weight: 300;
}
@media(min-width: 800px){
   
   .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   }
    .left{
    flex-direction: row;
   }
   .base h2{
        font-size: 3rem;
        font-weight: 200;
    }
    .base{
        margin-bottom: 70px;
    }
    .main{
        display: flex;
        
    } 
    .projects{
        display: flex;
        flex-direction: column;
        border-right: 2px solid black;
        width: 50%;
    }
     h3{
        text-align: start;
        margin-left: 20px;
    }
    .paras{
        align-items: flex-start;
    }
    .paras>p{
        margin-left: 20px;
    }
     .paras , .work-main{
        background-color: white;
    }
    .work{
        border-right:2px solid black;
    }
    .none{
        display: none;
    }
    .education{
        padding: 0;
    }
    .education>p,ol{
        align-items: flex-start;
        margin: 0 15px 15px 15px;
    }
    .box-review{
        display: flex;
        justify-content: center;     
    }
    .review>h3{
        margin-left: 15%;
    }
    .border{
        border: 2px solid black;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        height: 10rem;
        width: 19%;
        margin-top: 40px;
    }
    .border1,.border2{
        display: contents;
          border: 2px solid black;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        height: 10rem;
        width: 19%;
        gap: 50px;
        margin-top: 40px;
    }
    footer{
    height: 10vh;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 250px;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5rem;
    font-weight: 300;
}
}